html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: rgb(17, 17, 17);
}

.root {
    width: 100%;
    margin: 0px;
    height: fit-content;
}

.status-label {
    height: 100%;
    width: 100%;
    flex-direction: column;
}

body.no-archive > .status-label {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

body.loading > .status-label {
    display: flex;
}

body.loaded > .status-label {
    display: none;
}

body.no-archive > .status-label > span::after {
    content: 'Please load an archive or a folder.';
}

body.loading > .status-label > span::after {
    content: 'Loading the view...';
}

.hidden {
  display: none;
}

body.no-archive > .root {
  display: none;
}

body.loading > .root {
    display: none;
}

#img-cover {
    max-height: 100px;
    max-width: 100px;
}

.status-label {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.status-label span {
  background-color: rgba(230, 230, 230, 0.7);
  border-radius: 10px;
  padding: 10px;
}

.grid {
  display: flex;
}

.vertical {
  flex-direction: row;
}

.horizontal {
  flex-direction: column;
}

.overlay {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0%;
  transition: all ease-in;
}

.header {
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 50px;
  height: fit-content;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.footer > .page-number {
  position: relative;
  bottom: 10px;
  left: 10px;
  opacity: 40%;
  border-radius: 20px;
  padding: 10px;
}

.overlay:hover {
  opacity: 100%;
}

.img-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.manga-page {
  max-width: 100%;
  min-width: 30%;
  margin-top: 1px;
  margin-bottom: 1px;
}
